body {
    background-color: #F6F6DD;
}


#text_decor{
    color: grey;
    font-family: 'Peanuts';
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 40%;
    left: 63%;
    transform: translate(-50%, -50%);
}
.Justine{
  position: absolute;
  top: 25%;
  left: 20%;
}

.fa-envelope {
    color: black;
}
.fa-medium {
    color: black;
}
.fa-github {
    color: black;
}
.fa-linkedin {
    color: black;
}
.fa-spotify {
    color: black;
}





@font-face {
  font-family: 'Peanuts';
  src: url('peanuts.TTF');
}