body {
    background-color: #F6F6DD;
}


#text_decor{
    color: grey;
    font-family: 'Peanuts';
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 40%;
    left: 63%;
    transform: translate(-50%, -50%);
}

.Justine {
  display: block;
  text-indent: -9999px;
  width: 1000px;
  height: 820px;
  background: url(Justine.svg);
  background-size: 300px 492px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 25% 50%;
}


@font-face {
  font-family: 'Peanuts';
  src: url('peanuts.TTF');
}
