body {
    background-color: #FBFBF8;
}


#text_decor{
    color: grey;
    font-family: 'Peanuts';
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.Justine {
  display: block;
  text-indent: -9999px;
  width: 10000px;
  height: 8200px;
  background: url(Justine.svg);
  background-size: 100px 82px;
}


@font-face {
  font-family: 'Peanuts';
  src: url('peanuts.TTF');
}
